[run]
branch = True
source = backend
relative_files = True

[paths]
source =
    backend
    /home/runner/work/noobsquad/noobsquad/backend

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == "__main__":